name: build OrangeFox

on:
  schedule:
  - cron: "0 21 * * 1-5"  # 04:00 AM Thailand/Vietnam (UTC+7)
  - cron: "0 9 * * 1-5"   # 16:00 PM Thailand/Vietnam (UTC+7)
  workflow_dispatch:
  
jobs:
  build:
    runs-on: rom2
    environment:
      name: /dev/null
      url: /dev/null
    
    permissions:
      contents: write
      actions: write
      id-token: write

#    concurrency:
#      group: "none"
#      cancel-in-progress: false
    
    strategy:
      fail-fast: false      
      matrix:
        target: [dm2q]
#      max-parallel: 1

    steps:
    - name: Check out
      uses: actions/checkout@v4
      
    - name: Set TimeZones
      run: |
        sudo timedatectl set-timezone Asia/Ho_Chi_Minh
        sudo dpkg-reconfigure tzdata
        echo "date=$(TZ=Asia/Ho_Chi_Minh date +%Y-%m-%d-%H:%M:%S)"
    
    - name: Prepare the environment
      run: |
        sudo apt update
        sudo apt -y install ccache gperf gcc-multilib gcc-10-multilib g++-multilib g++-10-multilib libc6-dev x11proto-core-dev libx11-dev tree lib32z-dev libgl1-mesa-dev libxml2-utils xsltproc bc ccache lib32readline-dev lib32z1-dev liblz4-tool libncurses5-dev libsdl1.2-dev lz4 tar libxml2 lzop pngcrush schedtool squashfs-tools imagemagick libbz2-dev lzma ncftp qemu-user-static libstdc++-10-dev python3
      continue-on-error: true
        
    - name: Set Swap Space
      uses: pierotofy/set-swap-space@master
      with:
        swap-size-gb: 1

    - name: Install openjdk
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '11'    

    - name: Install repo
      run: |
        mkdir ~/bin
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
        chmod a+x ~/bin/repo
        sudo ln -sf ~/bin/repo /usr/bin/repo

    - name: Init repo
      run: |
        export HOME=${GITHUB_WORKSPACE}
        cd ${GITHUB_WORKSPACE}
        chmod +x *
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        mkdir ${GITHUB_WORKSPACE}/OrangeFox_sync
        cd ${GITHUB_WORKSPACE}/OrangeFox_sync
        git clone https://github.com/Just-TWRP/OrangeFox_sync.git sync # (or, using ssh, "git clone git@gitlab.com:OrangeFox/sync.git")
        cd ${GITHUB_WORKSPACE}/OrangeFox_sync/sync/
        ./orangefox_sync.sh --branch 14.1 --path ${GITHUB_WORKSPACE}/fox_14.1 --depth=1

    - name: Update bootable/recovery
      run: |
        cd ${GITHUB_WORKSPACE}/fox_14.1/bootable/recovery/
        git pull

    - name: Update vendor/recovery
      run: |
        cd ${GITHUB_WORKSPACE}/fox_14.1/vendor/recovery/
        git pull
        
    - name: Clone device tree
      run: |
        cd ${GITHUB_WORKSPACE}/fox_14.1
        git clone -b dm2q2 https://github.com/extremerom/android_device_samsung_sm8550-common-recovery.git device/samsung/${{ matrix.target }} > /dev/null 2>&1

    - name: Update OrangeFox Built-in Magisk
      run: |
        git clone https://github.com/ymdzq/twrp_prebuilt ~/twrp_prebuilt
        cd ${GITHUB_WORKSPACE}/fox_14.1/device/samsung/${{ matrix.target }}
        if ! grep -q 'FOX_USE_SPECIFIC_MAGISK_ZIP' vendorsetup.sh; then (echo 'export FOX_USE_SPECIFIC_MAGISK_ZIP=~/twrp_prebuilt/Magisk/Magisk.apk'>>vendorsetup.sh && echo "Added FOX_USE_SPECIFIC_MAGISK_ZIP in vendorsetup.sh"); else sed -i 's/.*export FOX_USE_SPECIFIC_MAGISK_ZIP.*/export FOX_USE_SPECIFIC_MAGISK_ZIP=\~\/twrp_prebuilt\/Magisk\/Magisk.apk/' vendorsetup.sh; fi

    - name: Update OrangeFox Built-in magiskboot
      run: |
        curl -L --retry 3 $(echo $(curl -s "https://api.github.com/repos/topjohnwu/Magisk/releases?per_page=1&include_prereleases=true") | jq -r '.[0].assets[] | select(.name | test("Magisk-.*\\.apk")) | .browser_download_url') -o Magisk.apk
        unzip -q Magisk.apk "lib/*/libmagiskboot.so" -d ~/magiskboot
        cp -f ~/magiskboot/lib/armeabi-v7a/libmagiskboot.so "${GITHUB_WORKSPACE}/fox_14.1/vendor/recovery/prebuilt/arm/magiskboot_updated"
        cp -f ~/magiskboot/lib/arm64-v8a/libmagiskboot.so "${GITHUB_WORKSPACE}/fox_14.1/vendor/recovery/prebuilt/arm64/magiskboot_updated"
        cp -f ~/magiskboot/lib/x86_64/libmagiskboot.so "${GITHUB_WORKSPACE}/fox_14.1/vendor/recovery/tools/magiskboot"

    - name: Setup ccache before build
      run: |
        cd ${GITHUB_WORKSPACE}/fox_14.1
        export USE_CCACHE=1
        export CCACHE_EXEC=/usr/bin/ccache
        ccache --max-size=50G
        ccache -o compression=true
        export CC="ccache gcc"
        export CXX="ccache g++"
        ccache -s
    
    - name: Building recovery
      id: twrp
      run: |
        cd ${GITHUB_WORKSPACE}
        ls -la
        pwd
        chmod +x build-ofox.sh
        cp build-ofox.sh  ${GITHUB_WORKSPACE}/fox_14.1/build-ofox.sh
        cd ${GITHUB_WORKSPACE}/fox_14.1
        ls -la
        pwd
        ./build-ofox.sh ${{ matrix.target }} 1
      continue-on-error: true

    - name: Check ccache after build
      run: |
        ccache -s

    - name: Set variables
      run: |
        echo "date=$(TZ=Asia/Ho_Chi_Minh date +%Y-%m-%d-%H:%M:%S)" >> $GITHUB_OUTPUT
        echo "Outdir=${GITHUB_WORKSPACE}/fox_14.1" >> $GITHUB_OUTPUT
      id: var

    - name: Publish to github
      uses: softprops/action-gh-release@v1
      with:
        files: | 
          ${{ steps.var.outputs.Outdir }}/OrangeFox_R12.1-${{ matrix.target }}.img.tar
          ${{ steps.var.outputs.Outdir }}/out/target/product/${{ matrix.target }}/OrangeFox-*.zip
          ${{ steps.var.outputs.Outdir }}/out/target/product/${{ matrix.target }}/OrangeFox-*.img
          ${{ steps.var.outputs.Outdir }}/out/target/product/${{ matrix.target }}/OrangeFox-*.md5
        name: OrangeFox Release
        tag_name: ${{ github.run_id }}
        body: |
          - ${{ steps.var.outputs.date }}
      env:
        GITHUB_TOKEN: ${{ secrets.TEST }}
